# Maven / Java
target/
**/target/
.mvn/wrapper/maven-wrapper.jar
*.log
*.class

# IDE
.idea/
*.iml
.project
.classpath
.settings/

# VS Code
.vscode/

# macOS
.DS_Store

# Packaging
*.jar
*.war
*.ear

# Other
logs/
*.log

# Git commit convention file 제외
.github/COMMIT_CONVENTION.md
.github/copliot-instructions.md
