<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="org.fridgekeeper.mapper.ItemMapper">
	<select id="selectAllItems" resultType="org.fridgekeeper.dto.ItemDTO">
		<![CDATA[
		SELECT * FROM item
		]]>
	</select>

	<select id="selectItemById" parameterType="long" resultType="org.fridgekeeper.dto.ItemDTO">
		<![CDATA[
		SELECT * FROM item WHERE item_id = #{itemId}
		]]>
	</select>

	<select id="selectItemByBarcode" parameterType="string" resultType="org.fridgekeeper.dto.ItemDTO">
		<![CDATA[
		SELECT * FROM item WHERE barcode = #{barcode}
		]]>
	</select>

	<insert id="insertItem" parameterType="org.fridgekeeper.dto.ItemDTO">
		<![CDATA[
		INSERT INTO item (fridge_id, category_id, name, expiration_date, memo, created_at, barcode)
		VALUES (#{fridgeId}, #{categoryId}, #{name}, #{expirationDate}, #{memo}, #{createdAt}, #{barcode})
		]]>
	</insert>

	<update id="updateItem" parameterType="org.fridgekeeper.dto.ItemDTO">
		<![CDATA[
		UPDATE item
		SET fridge_id = #{fridgeId},
			category_id = #{categoryId},
			name = #{name},
			expiration_date = #{expirationDate},
			memo = #{memo},
			created_at = #{createdAt},
			barcode = #{barcode}
		WHERE item_id = #{itemId}
		]]>
	</update>

	<update id="updateItemBarcode">
		<![CDATA[
		UPDATE item SET barcode = #{barcode} WHERE item_id = #{itemId}
		]]>
	</update>

	<delete id="deleteItem" parameterType="long">
		<![CDATA[
		DELETE FROM item WHERE item_id = #{itemId}
		]]>
	</delete>
</mapper>
